body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.logo {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}
.teaser {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;

}
.textbox {
    display: flex;
    flex-direction: column;
    max-width: 350px;
   
}
.launch {
   color: #f9faf8;
   font-size: 48px;
 
}
.text {
    color: #e5e7eb;
    font-size: 24px;
}
button {
    background: royalblue;
  border: 1px solid royalblue;
  color: white;
 
}
.sign1 {
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    margin-bottom: 40px;

}
.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 55px;
    
}

.icons {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    gap: 10px;
}

.model, .audio, .photography, .writing {
    font-size: 12px;
}
.quote {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    padding: 44px;
 
}

.quotebox {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.text2 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    max-width: 500px;
    padding-right: 30px;
   
}
.credit {
    display: flex;
    align-self: flex-end;
    color: #1f2937;
    font-weight: bolder;
}
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    
}
.container {
    display: flex;
    background-color: #3882f6;
    padding: 24px;
    gap: 150px;
    border-radius: 5px;
   
}
.calltext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.actiont {
    color: #f9faf8;
    font-weight: bold;
}
.actionm {
    color: #e5e7eb;
}
.sign2 {
    width: 100px;
    border: 2px solid #f9faf8;
    border-radius: 5px;
   

}
.footer {

  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
}
.copyright {
    color: #f9faf8;
    font-size: 12px;
}